<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mealorder.mapper.CommentMapper">
	<resultMap id="dcommentResultMap" type="Comment">	
		<result property="username" column="username" />
		<result property="dishName" column="dishName" />	
		<result property="content" column="content" />
		<result property="addTime" column="addTime" />	
	</resultMap>
	 <insert id="addCommentForDish" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
        insert into `comment` (username,dishName,content,addTime) 
        values( #{username},#{dishName},#{content},#{addTime})
    </insert>
	
	<select id="getCommentsByDishName"  parameterType="String" resultMap="dcommentResultMap">
		select * from `comment` WHERE dishName=#{0}
	</select>
</mapper>