<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mealorder.mapper.DishMapper">
	<resultMap id="dishResultMap" type="Dish">	
		<result property="dishName" column="dishName" />
		<result property="imgSrc" column="imgSrc" />	
		<result property="price" column="price" />	
	</resultMap>
	 <insert id="addDish" parameterType="Dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish (dishName,imgSrc,price) 
        values(#{imgSrc},#{imgSrc},#{price})
    </insert>
	
	<select id="getDishByImgSrc"  parameterType="String" resultMap="dishResultMap">
		select * from dish WHERE imgSrc=#{0}
	</select>
	
	<select id="getImgSrcByDishName"  parameterType="String" resultMap="dishResultMap">
		select * from dish WHERE dishName=#{0}
	</select>	
</mapper>