<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mealorder.mapper.OrderMapper">

	<resultMap id="orderResultMap" type="Order">
		<id property="orderId" column="orderId" /><!-- 主键列 -->
		<result property="username" column="username" />
		<result property="phoneNum" column="phoneNum" />
		<result property="orderInfo" column="orderInfo" />
		<result property="address" column="address" />	
		<result property="submitTime" column="submitTime" />
		<result property="orderStatus" column="orderStatus" />
		<result property="totalPrice" column="totalPrice" />
		<result property="notes" column="notes" />
	</resultMap>
	<insert id="saveOrder"  keyColumn="orderId" keyProperty="orderId" parameterType="Order">
		insert into `order` (orderId,username, phoneNum, orderInfo, address,submitTime,orderStatus,totalPrice,notes)
		values(#{orderId},#{username},#{phoneNum},#{orderInfo},#{address},#{submitTime},#{orderStatus},#{totalPrice},#{notes})
	</insert>

    <update  id="modifyOrder" parameterType="Order">
		update `order` set 
		    username= #{username}, phoneNum= #{phoneNum}, 
		        orderInfo= #{orderInfo},address= #{address},submitTime= #{submitTime},
	               orderStatus= #{orderStatus},totalPrice= #{totalPrice},notes= #{notes}
		where orderId = #{orderId}
	</update >
	
	<update  id="updateOrderStatus" parameterType="String">
		update `order` set orderStatus = #{0} where orderId = #{1}
	</update >
	
	<select id="getOrderByStatus" parameterType="String" resultMap="orderResultMap">
		select * from `order` where orderStatus = #{0}
	</select>
		
	<select id="getUserOrders" parameterType="String" resultMap="orderResultMap">
		select * from `order` where username = #{0}
	</select>
	
	<select id="getOrderById"  resultMap="orderResultMap">
		select * from `order` WHERE orderId=#{0}
	</select>
	
	<select id="getOrderStatusById" resultType="String">
		select orderStatus from `order` WHERE orderId=#{0}
	</select>
	
	
</mapper>